<script>
    function addIframe() {
        // console.log("lol");
        document.querySelector('#for-iframe').innerHTML = `<div id="gam-container" style="display: block !important; left: 10px; top: 10px;"><iframe id="gam-console"
                    allowtransparency="true" src="/live"></iframe></div>`
        var moveable_iframe_script = document.createElement('script');
        moveable_iframe_script.setAttribute('id', 'js-for-iframe');
        moveable_iframe_script.setAttribute('src', '/js/moveable-iframe.js');
        document.head.appendChild(moveable_iframe_script);
        $("#gam-container").contextmenu(function () {
            event.preventDefault()
            document.querySelector('#for-iframe').innerHTML = ""
            $('#js-for-iframe').remove()
        });
    }
</script>
<!-- jQuery first added in header, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>