<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <span onclick="location.href ='/live'" style="font-size: 2rem; color: rgb(218, 200, 42);margin-right: 0.7rem;">
        <i class="fas fa-money-check-alt"></i>
    </span>
    <a class="navbar-brand" onclick="addIframe()" style="color: rgb(248, 248, 237);">Currency Monitor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Crypto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rates">USD rates</a>
            </li>
        </ul>
    </div>
</nav>